# Dependencies
node_modules/
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build outputs
.next/
dist/
dist-ssr
build/

# Environment variables
.env
*.local

# Logs
logs
*.log

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?